html {
    touch-action: manipulation;
    height: 100%;
    /* 橫向排列，且垂直置中的外觀 */
    @mixin flexBox($direction) {
        display: flex;
        flex-direction: $direction;
    }
    @mixin flexAlign($alignItems, $justifyContent) {
        align-items: $alignItems;
        justify-content: $justifyContent;
    }
    @mixin boxSizing {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
    /* shortCut圖片設定 */
    $shortCut: 'shortCut_btn01',
    'shortCut_btn02',
    'shortCut_btn03',
    'shortCut_btn04',
    'shortCut_btn05';
    @each $currentIcon in $shortCut {
        .icon_#{$currentIcon} {
            background: url('../img/#{$currentIcon}.png') no-repeat center;
        }
    }
    /* toolbar圖片設定 */
    $toolbar: 'icon_tabbar_home',
    'icon_tabbar_sort',
    'icon_tabbar_ranking',
    'icon_tabbar_user';
    @each $currentIcon in $toolbar {
        .#{$currentIcon} {
            background: url('../img/#{$currentIcon}.png') no-repeat center;
        }
    }
    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        height: 100%;
        .img-1per {
            width: 100%;
            height: auto;
            display: block;
        }
        .main-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            @include flexBox(column);
            @include flexAlign(flex-start,
            space-around);
        }
        .header {
            height: 70px;
            width: 100%;
            background-color: #563718;
            border-bottom: 3px solid #F3C26C;
            @include flexBox(row);
            @include flexAlign(center,
            space-between);
            padding: 15px 10px;
            box-sizing: border-box;
            img {
                width: auto;
                height: 35px;
            }
        }
        .main-container {
            width: 100%;
            flex: 1;
            overflow-y: auto;
        }
        .shortCut {
            width: 100%;
            height: 74px;
            background-color: #4D4136;
            @include flexBox(row);
            @include flexAlign(center,
            space-around);
            text-align: center;
            .shortCut-img {
                width: 44px;
                height: 44px;
                position: relative;
                background-size: contain;
                margin-bottom: 3px;
                span {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    font-size: 12px;
                    font-weight: bold;
                    background-color: #F3C26C;
                    border-radius: 50px;
                    box-sizing: border-box;
                    padding: 2px;
                    bottom: 0px;
                    right: 0px;
                }
            }
            p {
                color: #DCD1C2;
                font-size: 12px;
            }
        }
        .block {
            @include flexBox(column);
            padding: 10px;
        }
        .inner_block {
            width: 100%;
            @include flexBox(row);
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .media_large,
        .media {
            border-radius: 3px;
            overflow: hidden;
        }
        .media_large {
            display: block;
            width: 100%;
        }
        .media {
            @include flexBox(row);
            flex: 1;
            margin-right: 10px;
        }
        .media:last-child {
            margin-right: 0;
        }
        .block:last-child {
            margin-right: 0;
        }
        /* tabbar */
        .tabbar {
            width: 100%;
            height: 50px;
            background-color: #4A3222;
            @include flexBox(row);
            @include flexAlign(center,
            space-around);
            a {
                color: #DCD1C2;
                font-size: 14px;
                text-decoration: none;
                @include flexBox(row);
                @include flexAlign(center,
                center);
                .tabbar-img {
                    width: 28px;
                    height: 28px;
                    background-size: contain;
                }
            }
        }
    }
}