.shortCut-img {
    margin-bottom: 5px;
}

html {
    touch-action: manipulation;
    height: 100%;
    /* 橫向排列，且垂直置中的外觀 */
    @mixin flexBox($direction) {
        display: flex;
        flex-direction: $direction;
    }
    @mixin flexAlign($alignItems, $justifyContent) {
        align-items: $alignItems;
        justify-content: $justifyContent;
    }
    @mixin boxSizing {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        height: 100%;
        .img-1per {
            width: 100%;
            height: auto;
            display: block;
        }
        .main-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            @include flexBox(column);
            @include flexAlign(flex-start, space-around);
        }
        .header {
            height: 70px;
            width: 100%;
            background-color: #563718;
            border-bottom: 3px solid #F3C26C;
            @include flexBox(row);
            @include flexAlign(center, space-between);
            padding: 15px 10px;
            box-sizing: border-box;
            img {
                width: auto;
                height: 35px;
            }
        }
        .main-container {
            width: 100%;
            flex: 1;
            overflow-y: auto;
        }
        .shortCut {
            width: 100%;
            height: 74px;
            background-color: #4D4136;
            @include flexBox(row);
            @include flexAlign(center, space-around);
            text-align: center;
            .shortCut-img {
                width: 44px;
                height: 44px;
                position: relative;
                margin-bottom: 3px;
                span {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    font-size: 12px;
                    font-weight: bold;
                    background-color: #F3C26C;
                    border-radius: 50px;
                    box-sizing: border-box;
                    padding: 2px;
                    bottom: 0px;
                    right: 0px;
                }
            }
            p {
                color: #DCD1C2;
                font-size: 12px;
            }
        }
        .tabbar {
            width: 100%;
            height: 50px;
            background-color: #4A3222;
            @include flexBox(row);
            @include flexAlign(center, space-around);
            a {
                color: #DCD1C2;
                font-size: 14px;
                text-decoration: none;
                @include flexBox(row);
                @include flexAlign(center, center);
                .tabbar-img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
        // .row {
        //     @include boxSizing;
        //     position: relative;
        //     width: 100%;
        //     margin: 0;
        //     /* &符號是sass的非變數連接字符，這裡的&.any就是 .row.any的意思 */
        //     &.horizontal {
        //         @include flexBox(row);
        //         &.v_center {
        //             @include flexAlign(center, flex-start);
        //         }
        //     }
        //     /* wrap 可以確保子元素在寬度不夠時自動換行喔 */
        //     &.wrap {
        //         flex-wrap: wrap;
        //     }
        // }
        // [data-border="all"] {
        //     border: 1px solid #000;
        // }
        // @for $i from 0 through 100 {
        //     [data-width='#{$i + "%"}'] {
        //         width: #{$i + "%"};
        //     }
        // }
        // @for $i from 1 through 100 {
        //     [data-height="#{$i}vh"] {
        //         height: #{$i}vh;
        //     }
        // }
        // span {
        //     @include flexBox(row);
        //     @include flexAlign(center, center);
        //     width: 30px;
        //     height: 30px;
        //     background-color: #333;
        //     margin: 0.5rem;
        //     color: #fff;
        // }
        .block {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        .inner_block {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .media_large {
            display: block;
            width: 100%;
            background: #ccc;
        }
        .media {
            display: flex;
            flex: 1;
            margin-right: 1rem;
            background: #aaa;
        }
        .media:last-child {
            margin-right: 0;
        }
        .block:last-child {
            margin-right: 0;
        }
    }
}